.root {
  margin: 4rem auto 0rem;
}

.error_message {
  float: left;
}

.loading_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-top: 0;
  /*text-align: center;*/
  /*background-color: #f4f4f4;*/
  /*border-bottom-left-radius: 10px;*/
  /*border-bottom-right-radius: 10px;*/
  /*border: 1px solid #c7c7c7;*/
}

.checkbox_group_container {
    font-size: .875em;
    max-height: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 9000;
    overflow: auto;
    margin-top: 0;
    /*margin-left: 1em;*/
    padding: 0rem 1rem;
    width: 766px;
  }

.checkbox_group_container_show {
  display: inline-block;
  float: left;
  visibility: visible;
  opacity: 1;
  max-height: 30rem;
  overflow: auto;
  transition: 0.3s;
  margin-top: 1em;
  margin-bottom: 1rem;
  overflow: hidden;
}

.checkbox_container {
  /*float: left;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.checkbox {
  margin: 0px 20px 0px 0px;
  /*margin-right: 10px;*/
  border-radius: 3px;
  float: left;
  overflow: hidden;

}

.description {
  /*margin-bottom: 1em;*/
}

.checkbox_input {
  margin-right:0px;
}

/* from meeting with James Zhang - June 21 */
/*input[type=checkbox] + label.checkbox_input {
  margin-right:0px;
}*/

.checkbox_label {
  margin-right: 15px;
  margin-top: 0px;
  cursor: pointer;
  display: inline-block;
}

.conversation_frame {
  width: 700px;
  margin:auto;
  padding: 10px;
  height: auto;
  min-height: 90px;
  overflow: auto;

}

.reset_link {
  margin-bottom: 1em;
}

.conversation_container {
  width: 100%;
  border: 1px solid #c7c7c7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: auto;
  min-height: 90px;
  overflow: auto;
  border-bottom: none;
}

.speaker {
  overflow: auto;
  padding: 20px;
  width: 766px;
}
.conversation_header {
  width: 100%;
  padding-left:20px;
  padding-top: 10px;
  font-size: 1.25em;
}

.statement_header {
  float: left;
  width: 77%;
}

.tone_header {
  float: left;
  margin-top: 0;
}
.consumer {
  background-color: #F5F3FA;
}

.avatar {
  float:left;
  margin-right: 1em;
  width: 70px;

  margin-top: 0;
  margin-bottom: 0;
}
.customer_avatar {
    background-image: url("/images/customer.png");
    height: 70px;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
}

.agent_avatar {
    background-image: url("/images/agent.png");
    height: 70px;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
}

.statement_container {
  float: left;
  width: 60%;
  margin-top: 0;
  min-height: 70px;
}
.speaker_name {
  font-weight: bold;
  font-size: .875em;
}
.speaker_handle {
  font-size: .875em;
}
.time_stamp {
  text-transform: uppercase;
  color: #777677;
  font-size: .75em;
}

.speaker_statement {
  overflow: hidden;
  font-size: .875em;
  margin-top: .25em;
  margin-right: 1em;
  line-height: 1.25em;
}

.score_container {
  float: left;
  width: 25%;
  margin-top: 3px;
  border-left: 1px solid #c7c7c7;
  padding-left: 1rem;
}

.tone_results {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0rem;
  height: 1.75rem;
}

.tone_text {
  font-size: .75em;
  padding-right: .5em;
  width: auto;
  flex-grow: 2;
}
.tone_score {
  font-weight: bold;
  float: left;
  font-size: .75em;
  margin-top: 0;
  width: 25%;
}
.other_tones {
font-size: 0.75em;
}

.negative {
  color: #DB207C;
}

.buttons-group {
  margin-top: 0;
  width: auto;
}

.buttons-group--button {
  border: none;
  border-radius: 0rem;
  padding: 0rem;
}

.buttons-group--button_last {
  border-radius: 0rem;
  padding-right: 1rem;
}

.buttons-group--button_first {
  border-radius: 0rem;
  padding-right: 0rem;
}

.base--radio:checked+.buttons-group--button {
  background: transparent;
}

.base--radio:checked + .buttons-group--button .icon {
  fill: rgb(152, 85, 212);
}

.buttons-group--button:active {
  background: transparent;
}

.thumb {
  cursor: pointer;
  height: 15px;
}

.contribute_container {
  background-color: #f4f4f4;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #c7c7c7;
  margin-top: 0;
}
.input_wrapper {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
textarea {
  height:70px;
  border: 1px solid #aeaeae;
  resize: none;
}

.input_area {
    width: 90%;
    float: left;
    margin-top: 0;
}
#newUtteranceTextArea:invalid {
    box-shadow: none;
}

.input_avatar {
  float:left;
  width: 35px;
  height: 35px;
  border: 1px solid #c7c7c7;
  background-color: #ffffff;
  border-radius: 5px;
  margin-right: 1em;
}
.submit_button {
  float: right;
  margin-right: 15px;
  margin-top: 20px;
}
.reset {
  float: left;
}

.json {
  float: right;
  margin-top: 0;
}
.conversation_footer {
  height: auto;
  margin-bottom: 1em;
  overflow: auto;
}

.jumbotron--header {
  margin-top: 0rem;
}

.question-input--input-container {
  display: block;
}

.alerttext {
    color: red;
}

.question-input--input {
  width: 100%;
  max-width: initial;
}

.question-input--button-container {
  display: block;
}

.question-input--submit-button {
  width: 100%;
}

.sample-questions--left {
  display: block;
}

.sample-questions--right {
  display: block;
}

.agree_container {
    float: right;
    margin-top: -20px;
    margin-right: 0;
    margin-bottom: 0.5rem;
}
.agree_link {
    font-size: .75em;
}

.base--a {
  cursor: pointer;
}
.service-error {
  text-align: center;
}

.service-error--image {
  margin: 2rem auto;
  width: 6.5rem;
  height: auto;
  display: block;
}

.service-error--message {
  color: #d74108;;
  text-align: center;
}
